In [15]:
import pandas as pd

file_name = 'uam-personal-pdi-2019-anonimizado.csv'

In [33]:
df = pd.read_csv(file_name)

df = df.drop(columns=['IMPORTANTE'])
df = df.loc[:, ~df.columns.str.startswith('cod_')]
df = df.loc[:, ~df.columns.str.startswith('lat_')]
df = df.loc[:, ~df.columns.str.startswith('lon_')]

print(df.shape)
df.head()

(2577, 35)

,des_universidad,anio,des_pais_nacionalidad,des_continente_nacionalidad,des_agregacion_paises_nacionalidad,des_comunidad_residencia,des_provincia_residencia,des_municipio_residencia,des_genero,anio_nacimiento,...,des_tipo_unidad_responsable,des_unidad_responsable,des_area_conocimiento,anio_incorporacion_ap,anio_incorpora_cuerpo_docente,num_trienios,num_quinquenios,num_sexenios,num_tesis,ind_investigador_principal
0,Universidad Autónoma de Madrid,2019,España,Europa,Europa meridional,Madrid,Madrid,MADRID,Mujer,1963,...,Departamento,"Departamento de Educación Física, Deporte y Mo...",Didáctica de la Expresión Corporal,1996.0,2003.0,7,4,2,NaN,N
1,Universidad Autónoma de Madrid,2019,España,Europa,Europa meridional,Madrid,Madrid,MADRID,Mujer,1988,...,Departamento,"Departamento de Educación Física, Deporte y Mo...",Didáctica de la Expresión Corporal,NaN,NaN,1,0,0,NaN,N
2,Universidad Autónoma de Madrid,2019,España,Europa,Europa meridional,Madrid,Madrid,POZUELO DE ALARCÓN,Mujer,1991,...,Departamento,"Departamento de Educación Física, Deporte y Mo...",Didáctica de la Expresión Corporal,NaN,NaN,0,0,0,NaN,N
3,Universidad Autónoma de Madrid,2019,España,Europa,Europa meridional,Madrid,Madrid,ALCOBENDAS,Mujer,1972,...,Departamento,"Departamento de Educación Física, Deporte y Mo...",Didáctica de la Expresión Corporal,NaN,NaN,6,3,0,NaN,N
4,Universidad Autónoma de Madrid,2019,España,Europa,Europa meridional,Madrid,Madrid,MADRID,Mujer,1987,...,Departamento,"Departamento de Educación Física, Deporte y Mo...",Didáctica de la Expresión Corporal,NaN,NaN,0,0,0,NaN,N

In [18]:
# Count the times of unique value for row des_unidad_responsable appeared
df.groupby('des_unidad_responsable').count()

,des_universidad,anio,des_pais_nacionalidad,des_continente_nacionalidad,des_agregacion_paises_nacionalidad,des_comunidad_residencia,des_provincia_residencia,des_municipio_residencia,des_genero,anio_nacimiento,...,des_mencion_europea,des_tipo_unidad_responsable,des_area_conocimiento,anio_incorporacion_ap,anio_incorpora_cuerpo_docente,num_trienios,num_quinquenios,num_sexenios,num_tesis,ind_investigador_principal
des_unidad_responsable,,,,,,,,,,,,,,,,,,,,,
Departamento Interfacultativo de Música,32,32,32,32,32,32,32,32,32,32,...,19,32,32,8,8,32,32,32,5,32
Departamento Interfacultativo de Psicología Evolutiva y de la Educación,45,45,45,45,45,45,45,45,45,45,...,34,45,45,15,15,45,45,45,5,45
Departamento de Anatomía Patológica,22,22,22,22,22,22,22,22,22,22,...,8,22,22,3,3,22,22,22,0,22
"Departamento de Anatomía, Histología y Neurociencia",30,30,30,30,30,30,30,30,30,30,...,25,30,30,10,10,30,30,30,1,30
Departamento de Antropología Social y del Pensamiento Filosófico Español,18,18,18,18,18,18,18,18,18,18,...,18,18,18,8,8,18,18,18,5,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Departamento de Química Física Aplicada,48,48,48,48,48,48,48,48,48,48,...,44,48,48,28,28,48,48,48,3,48
Departamento de Química Inorgánica,20,20,20,20,20,20,20,20,20,20,...,20,20,20,13,13,20,20,20,0,20
Departamento de Química Orgánica,36,36,36,36,36,36,36,36,36,36,...,34,36,36,23,23,36,36,36,11,36
Departamento de Sociología,14,14,14,14,14,14,14,14,14,14,...,14,14,14,5,5,14,14,14,1,14
Departamento de Tecnología Electrónica y de las Comunicaciones,45,45,45,45,45,45,45,45,45,45,...,34,45,45,19,19,45,45,45,8,45

In [32]:
# Limit our study using the pivot variables
df_limited = df.loc[(df['des_unidad_responsable'] == 'Departamento de Ingeniería Informática') &
                    (df['des_genero'] == 'Hombre')]
df_limited.shape

(56, 35)

# Coherence block 1

In [50]:
# Coherence block 1
df_limited.filter(['des_universidad','anio'], axis=1).groupby(['des_universidad','anio']).size()

des_universidad                 anio
Universidad Autónoma de Madrid  2019    56
dtype: int64

# Coherence block 2

In [103]:
# Coherence block 2
n_rows = df_limited.shape[0]
variables = ['des_pais_nacionalidad',
             'des_continente_nacionalidad',
             'des_agregacion_paises_nacionalidad']

def obtain_freq(variables, data=df_limited):
    n_rows = data.shape[0]
    return pd.DataFrame( 
        data.filter(variables, axis=1).groupby(variables, dropna=False).size() / n_rows )

obtain_freq(variables)

                                                                                             0
des_pais_nacionalidad des_continente_nacionalidad des_agregacion_paises_nacionalidad
España                Europa                      Europa meridional                   0.982143
Italia                Europa                      Europa meridional                   0.017857

# Coherence block 3

In [104]:
# Coherence block 3
variables = ['des_comunidad_residencia',
            'des_provincia_residencia',
            'des_municipio_residencia']

obtain_freq(variables)

                                                                                     0
des_comunidad_residencia des_provincia_residencia des_municipio_residencia
Madrid                   Madrid                   ALCALÁ DE HENARES           0.017857
                                                  ALCOBENDAS                  0.089286
                                                  ALCORCÓN                    0.017857
                                                  ALGETE                      0.017857
                                                  BOALO, EL                   0.017857
                                                  COLMENAR VIEJO              0.107143
                                                  COLMENAREJO                 0.017857
                                                  GALAPAGAR                   0.017857
                                                  HOYO DE MANZANARES          0.017857
                                                  LEGANÉS                     0.017857
                                                  MADRID                      0.517857
                                                  MORALZARZAL                 0.017857
                                                  POZUELO DE ALARCÓN          0.017857
                                                  SAN SEBASTIÁN DE LOS REYES  0.089286
                                                  TRES CANTOS                 0.017857

# Coherence block 4

In [139]:
# Coherence block 4
variables = ['anio_nacimiento']
df_limited_born = df_limited.loc[df_limited['anio_nacimiento'] < 1975]
obtain_freq(variables, data=df_limited_born)

                        0
anio_nacimiento
1950             0.027778
1955             0.027778
1958             0.027778
1960             0.055556
1961             0.027778
1962             0.055556
1963             0.055556
1964             0.083333
1965             0.111111
1966             0.055556
1967             0.138889
1968             0.083333
1969             0.055556
1970             0.027778
1971             0.055556
1972             0.027778
1973             0.027778
1974             0.055556

# Coherence block 5

In [140]:
# Coherence block 5
variables = [
'des_tipo_personal',
'des_categoria_cuerpo_escala',
'des_tipo_contrato',
'des_dedicacion',
'num_horas_semanales_tiempo_parcial',
'des_situacion_administrativa'
]

df_limited_prof = df_limited.loc[
    df_limited['des_categoria_cuerpo_escala'] == 'Profesor Titular de Universidad'
]
obtain_freq(variables, data=df_limited_prof)

                                                                                                                                                                                                         0
des_tipo_personal      des_categoria_cuerpo_escala     des_tipo_contrato                      des_dedicacion               num_horas_semanales_tiempo_parcial des_situacion_administrativa
Funcionario de carrera Profesor Titular de Universidad Personal Funcionario\Personal eventual Dedicación a Tiempo Completo NaN                                En Servicio en otras Universidades  0.071429
                                                                                                                                                              Servicio Activo                     0.928571

# Coherence block 6

In [118]:
# Coherence block 6
variables = ['ind_cargo_remunerado']
obtain_freq(variables)

                             0
ind_cargo_remunerado
N                     0.821429
S                     0.178571

# Coherence block 7

In [144]:
# Coherence block 7
variables = [
'des_titulo_doctorado',
'des_pais_doctorado',
'des_continente_doctorado',
'des_agregacion_paises_doctorado',
'des_universidad_doctorado',
'anio_lectura_tesis',
'anio_expedicion_titulo_doctor',
'des_mencion_europea']

df_limited_thesis = df_limited.loc[(df_limited['anio_lectura_tesis'] == 2000) &
                           (df_limited['des_universidad_doctorado'] == 'Universidad Autónoma de Madrid')]

obtain_freq(variables, data=df_limited_thesis)

                                                                                                                                                                                                        0
des_titulo_doctorado des_pais_doctorado des_continente_doctorado des_agregacion_paises_doctorado des_universidad_doctorado      anio_lectura_tesis anio_expedicion_titulo_doctor des_mencion_europea
Uno                  España             Europa                   Europa meridional               Universidad Autónoma de Madrid 2000.0             2000.0                        No                   1.0

# Coherence block 8

In [145]:
# Coherence block 8
variables = [
'des_tipo_unidad_responsable',
'des_area_conocimiento']

obtain_freq(variables)

                                                                                       0
des_tipo_unidad_responsable des_area_conocimiento
Departamento                Ciencia de la Computación e Inteligencia Artifi...  0.535714
                            Lenguajes y Sistemas Informáticos                   0.464286

# Coherence block 9

In [150]:
# Coherence block 9
variables = [
'anio_incorporacion_ap',
'anio_incorpora_cuerpo_docente',
'num_trienios',
'num_quinquenios',
'num_sexenios']

df_limited_time = df_limited.loc[(df_limited['num_quinquenios'] == 3) &
                           (df_limited['num_sexenios'] == 4)]

obtain_freq(variables, data=df_limited_time)

                                                                                                      0
anio_incorporacion_ap anio_incorpora_cuerpo_docente num_trienios num_quinquenios num_sexenios
NaN                   NaN                           5            3               4             0.333333
                                                    6            3               4             0.333333
                                                    7            3               4             0.333333

# Coherence block 10

In [148]:
# Coherence block 10
variables = ['num_tesis']
df_limited_num_thesis = df_limited.loc[df_limited['num_tesis'] >= 1]

obtain_freq(variables, data=df_limited_num_thesis)

                  0
num_tesis
1.0        0.714286
2.0        0.285714

# Coherence block 11

In [151]:
# Coherence block 10
variables = ['ind_investigador_principal']
obtain_freq(variables)

                                   0
ind_investigador_principal
N                           0.785714
S                           0.214286