In [1]:
# Imports cell
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("datasets/movies.csv")
ratings = pd.read_csv("datasets/ratings.csv")

In [43]:
ratings.head()
movies.head()

,movieId,title,genres,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Psychological Thriller,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
4,5,Father of the Bride Part II (1995),[Comedy],False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
np.where(ratings['rating'] < 0.5)
print(ratings['rating'][18239])

-1.5

In [4]:
# Remove nulls
print("Movies before removing: {}".format(len(movies.index)))
movies = movies[movies.genres != '(no genres listed)']
print("Movies after removing: {}".format(len(movies.index)))

Movies before removing: 62423
Movies after removing: 57361

In [6]:
movies['genres'] = movies['genres'].apply(lambda x : x.split("|"))

In [22]:
arr = np.concatenate(np.array(movies['genres'].tolist(), dtype=object))
unique = np.unique(arr)

In [25]:
for genre in unique:
    movies[genre] = movies['genres'].apply(lambda x: True if genre in x else False)

In [27]:
movies.head()

,movieId,title,genres,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Psychological Thriller,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
4,5,Father of the Bride Part II (1995),[Comedy],False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False